.captcha {
	width: 100%;
	height: 94px;
	border-radius: 12px;
	background-color: #A0B2AF;
	background-image: url("../images/captcha.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow: hidden;
}
